{{!
    Simple header bar with a side aligned logo box, this box has a fixed width.
    Logo box contains an icon and text
}}

<x-header class="{{#if sticky}}--sticky{{/if}} {{#if clamped}}--clamped{{/if}} {{#if collapse}}--collapse{{/if}}">
    {{#if clamped}}
        <x-clamp>
    {{/if}}

        <x-header-logoContainer>
            <a href="/">
                <i class="icon icon-cube"></i>
                <x-header-logo>
                    {{title}}
                </x-header-logo>
            </a>
        </x-header-logoContainer>

        <x-header-content>
            {{#each items}}
                {{#eq type "link"}}
                    <x-header-contentItem>
                        <a href="{{../href}}">
                            {{#if ../text}}
                                <x-header-contentItemText>
                                    {{../text}}
                                </x-header-contentItemText>
                            {{/if}}
                            {{#if ../icon}}
                                <x-header-contentItemIcon>
                                    <i class="icon icon-{{../icon}}"></i>
                                </x-header-contentItemIcon>
                            {{/if}}
                        </a>
                    </x-header-contentItem>
                {{/eq}}

                {{#eq type "field"}}
                    <x-header-contentItem class="--search">
                        <form>
                            <input class="" type="text" id="myemail" placeholder="{{../text}}">
                            <i class="icon icon-search"></i>
                        </form>
                    </x-header-contentItem>
                {{/eq}}
            {{/each}}
        </x-header-content>    

        {{#if items}}
            <x-header-toggle>
                <i class="icon icon-menu"></i>
            </x-header-toggle
        {{/if}}
        
    {{#if clamped}}
        </x-clamp>
    {{/if}}

</x-header>