<x-card class="{{modifiers}}">

    {{! content placed directly in the card with be flush with its edges }}
    {{#if image}}
        <img src="{{image}}">
    {{/if}}

    {{! you can stack <x-card-pad> blocks }}
    {{#each content}}
        <x-card-pad>

            {{#if title}}
                {{! any header type can be used here}}
                <h5 class="{{titleModifiers}}">{{title}}</h5>
            {{/if}}

            {{#if text}}
                <p>
                    {{{text}}}
                </p>
            {{/if}}

            {{#if link}}
                <a href="#" class="button">{{link}}</a>
            {{/if}}

        </x-card-pad>
    {{/each}}

</x-card>